<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Landing Page</title>
  <link rel="stylesheet" href="css/style.css">
  <link sel="interactivesheet" src="js/script.js">
</head>
<body>
  <header>
    <h1> the first asistent web phrase is: this is the second</h1>
  </header>
  <main>
    <section>
      <h2>Títol o nom</h2>
      <p>explicació de que som i de la asistent</p>
    </section>
    <section>
      <ul>
        <li>benefici 1</li>
        <li>benefici 2</li>
        <li>benefici 3</li>
        <li>benefici 4</li>
      </ul>
    </section>
    <section>
      <h2>personalització</h2>
      <p>personalizamos tu asistente/a para que conozcal al máximo sobre su negocio y su funcionamiento, además le enseñamos las tecnicas de venta que sean más eficientes para cada tipo de negocio/institución</p>
    </section>
    <section>
      <h2>implementació i preu</h2>
      <p>una vez des al click nos pondremos en contacto contigo para conocer tu empresa y tus necesidades, además de resolver tus inquietudes, a partir de ahí con la información que usted nos proporcionará a través de nuestro formulario, crearemos el/la asistente perfect@ para su tienda online,paginas informativas o pg webs de empresa</p>
      <p>diferentes bills??</p>
    </section>
  </main>
  <footer>
    <div class="w-full flex justify-center">
      <p> Derechos de autor @ 2023</p>
    </div>
  </footer>
  <script src="js/script.js"></script>
</body>
</html>

